<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>CarVi</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css before icons.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/icons.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="stylesheets/style.css" media="screen,projection"/>
         <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script>

        </script>
    </head>
    <body>
        <div class="wrapper">
	<div class="container">
		<h1>Cardvi. Bienvenido</h1>
        
		
		<form class="form">
			<input type="text" placeholder="Usuario">
      <input type="password" placeholder="Coontraseña">
      <input type="button" value="Entrar" onClick=" window.location.href='/crear' ">
		</form>
        <h6>¿Olvidaste tu contraseña? <a href="">Recuperala</a></h6>
        
	</div>

  <div class="cardboard">
    <div class="nose"></div>
    <div class="eyes"></div>
  </div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

    </body>
</html>
