<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modificar animación</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/modificar.js"></script>
</head>
<body>
    <div>
        <input type="button" value="Guardar animación" id="guardar">
        <input type="button" value="Ver animación" id="ver">
        <p>La animación se guarda automáticamente en el navegador al salir o recargar la pestaña</p>
    </div>
    <div id="editor">

    </div>
</body>
</html>