* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100vh;
}
.menu { 
  margin: 0em 0em auto;    
  position: absolute;
  width: 100vw;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: rgba(82,113,255,0.5);
  font-family: 'AileronThin';
  font-size: 1.2em; 
  font-weight: 100;
}
.menu a {     
position: relative;
  text-decoration: none;
  margin: 1em;
  right: 31em;
}
form {
  padding: 0px 0;
  position: relative;
}
form input {
  border: 0.1em solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 14em;
  font-family: 'AileronThin';
  border-radius: 3px;
  padding: 1em 2em;
  margin: 1em auto ;
  text-align: center;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 16em;
  color: rgb(82,113,255);
}
form button {
  background-color: white;
  border: 0;
  padding: 1em 2em;
  border-radius: 3px;
  width: 16em;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}
.card{
  display: inline-block;
  position: absolute;
  font-family: Megrim, sans-serif;
font-size: 4.2em;
font-style: normal;
font-variant: normal;
  top: 70%;
  left: 25%;
}
.vi{
  color: rgb(82,113,255);
}
.register{
  display: inline-block;
  position: absolute;    
  font-family: 'AileronThin';
  font-size: 1.2em; 
  font-weight: 100; 
  font-style: normal;
  border-radius: 4%;
  background-color: rgba(153,153,153,0.05);
  height: 26em;
  width: 19em;
  top: 6em;
  left: 50%;  
}
p{
  position: relative;
  padding: 1em 1em 0em 1em;
}
p:nth-child(1){
  font-size: 1.3em;
  padding:1.5em 1em 0em 1em;
}
p:last-child{
  font-size: 0.8em;
}



.square {
  display: inline-block;
  position: relative;
  border-radius: 30%;
  background-image: url("../image/foto.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  height: 20em;
  width: 20em;
  top: 10em;
  left: 20%;    
}
.circle{
  display: inline-block;    
  position: absolute;
  border-color: rgb(153,153,153);    
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5em;
  height: 3em;
  width: 3em;
  top: 40%;
  left: 40%;
}
.reloadSingle {
  display: inline-block;
  position: relative;    
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
  height: 15em;
  width: 15em;
  top: 13%;
  left: 12%;
  /*-webkit-transform: scale(1.1); 
  transform: scale(1.1);*/
}
.reloadSingle:before, .reloadSingle:after {
  content: '';
  display: block;
}
.reloadSingle:before {
  border-color: rgb(108,108,108) rgb(153,153,153) rgb(190,190,190) rgb(217,217,217);    
  border-radius: 50%;
  border-style: solid;
  border-width: 3.75em;
  height: 7.5em;
  width: 7.5em;
}
.reloadSingle:after {
  border-color: transparent transparent transparent rgb(217,217,217);
  border-style: solid;
  border-width: 3em 0em 3em 4em;
  height: 0;
  position: absolute;
  top: -3%;
  left: 17%;
  width: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
